@page "/"
@namespace jsMind.Server.App.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>jsMind.Server.App</title>
    <base href="~/" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="css/site.css" />

    <environment include="Development">
        <link type="text/css" rel="stylesheet" href="_content/jsMind.Blazor/jsmind.css" />

        <script type="text/javascript" src="_content/jsMind.Blazor/jsmind.js"></script>
        <script type="text/javascript" src="_content/jsMind.Blazor/jsmind-interop.js"></script>
    </environment>
    <environment include="Staging,Production">
        <link type="text/css" rel="stylesheet" href="_content/jsMind.Blazor/jsmind.min.css" />

        <script type="text/javascript" src="_content/jsMind.Blazor/jsmind.min.js"></script>
        <script type="text/javascript" src="_content/jsMind.Blazor/jsmind-interop.min.js"></script>
    </environment>
</head>
<body>

    <app>
        <!-- https://blazor-university.com/javascript-interop/calling-javascript-from-dotnet/updating-the-document-title/#caveat -->
        <component type="typeof(App)" render-mode="Server" />
    </app>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script type="text/javascript" src="_framework/blazor.server.js"></script>
</body>
</html>