@page "/"
@using JsMind.Blazor.Models

<h1>jsMind Demo</h1>

<MindMapContainer options="@options" style="width:800px; height:600px; border:solid 1px #ccc; background:#f4f4f4;" />

@code {
    MindMapOptions options = new MindMapOptions
    {

    };

}