@page "/"

<h1>jsMind Demo</h1>

<MindMapContainer />

@code {
    //MindMapContainer MindMapContainer { get; set; }

    //protected override Task OnInitializedAsync()
    //{
    //    MindMapContainer = new MindMapContainer();

    //    return base.OnInitializedAsync();
    //}

}