name: DeployToGitHubPages
env:
  PUBLISH_DIR: examples/jsMind.WASM.App/bin/Release/netstandard2.1/publish/wwwroot

# Controls when the action will run
on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
  
    - name: BlazorWebAssemblyFileHashFixer 1
      uses: stefh/ghaction-BlazorWebAssemblyFileHashFixer@v1
      with:
        wwwroot-path: '.'

    - name: Publish app
      run: dotnet publish -c Release examples/jsMind.WASM.App

    - name: Rewrite base href
      uses: SteveSandersonMS/ghaction-rewrite-base-href@v1
      with:
        html_path: ${{ env.PUBLISH_DIR }}/index.html
        base_href: /jsMind.Blazor/
        
    - name: Patch blazor.webassembly.js
      uses: jacobtomlinson/gha-find-replace@master
      with:
        find: "return r.loadResource\\(o,t\\(o\\),e\\[o\\],n\\)"
        replace: "var p = r.loadResource(o,t(o),e[o],n); p.response.then((x) => { if (typeof window.loadResourceCallback === 'function') { window.loadResourceCallback(Object.keys(e).length, o, x);}}); return p;"
        include: "blazor.webassembly.js"
        
    - name: BlazorWebAssemblyFileHashFixer 2
      uses: stefh/ghaction-BlazorWebAssemblyFileHashFixer@v1
      with:
        wwwroot-path: ${{ env.PUBLISH_DIR }}


    - name: CompressFiles
      uses: stefh/ghaction-CompressFiles@0.9
      with:
        path: ${{ env.PUBLISH_DIR }}

    - name: GitHub Pages
      if: success()
      uses: crazy-max/ghaction-github-pages@v1.5.1
      with:
        target_branch: gh-pages
        build_dir: ${{ env.PUBLISH_DIR }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
